USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Pl02_Poll_Instruments]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pl02_Poll_Instruments](
	[Pl02_Pl01_timestamp] [datetime] NOT NULL,
	[Pl02_In01_id] [int] NOT NULL,
	[Pl02_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pl02_Poll_Instruments] PRIMARY KEY CLUSTERED 
(
	[Pl02_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pl02_Poll_Instruments] ON [dbo].[Pl02_Poll_Instruments] 
(
	[Pl02_Pl01_timestamp] ASC,
	[Pl02_In01_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pl02_Poll_Instruments]  WITH CHECK ADD  CONSTRAINT [FK_Pl02_Poll_Instruments_IN01_Instruments] FOREIGN KEY([Pl02_In01_id])
REFERENCES [dbo].[IN01_Instruments] ([IN01_Id])
GO
ALTER TABLE [dbo].[Pl02_Poll_Instruments] CHECK CONSTRAINT [FK_Pl02_Poll_Instruments_IN01_Instruments]
GO
