USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Sp03_Tree1_users]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sp03_Tree1_users](
	[Sp03_id] [int] IDENTITY(1,1) NOT NULL,
	[Sp03_Us01_id] [int] NULL,
	[Sp03_Tree1] [int] NULL,
	[Sp03_Sp01_id] [int] NULL,
	[Sp03_lvl] [numeric](5, 2) NULL,
	[Sp03_lvl_W] [numeric](5, 2) NULL,
 CONSTRAINT [PK_med01_Tree1] PRIMARY KEY CLUSTERED 
(
	[Sp03_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sp03_Tree1_users]  WITH CHECK ADD  CONSTRAINT [FK_Sp03_Tree1_users_SP01_SpecialAbilities] FOREIGN KEY([Sp03_Sp01_id])
REFERENCES [dbo].[SP01_SpecialAbilities] ([SP01_Id])
GO
ALTER TABLE [dbo].[Sp03_Tree1_users] CHECK CONSTRAINT [FK_Sp03_Tree1_users_SP01_SpecialAbilities]
GO
ALTER TABLE [dbo].[Sp03_Tree1_users]  WITH CHECK ADD  CONSTRAINT [FK_Sp03_Tree1_users_US01_Users] FOREIGN KEY([Sp03_Us01_id])
REFERENCES [dbo].[US01_Users] ([US01_Id])
GO
ALTER TABLE [dbo].[Sp03_Tree1_users] CHECK CONSTRAINT [FK_Sp03_Tree1_users_US01_Users]
GO
