USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Us07_TotalTrainingCategories]    Script Date: 10/09/2013 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Us07_TotalTrainingCategories](
	[Us07_id] [int] NOT NULL,
	[Us07_name] [nvarchar](80) NULL,
 CONSTRAINT [PK_Us07_TotalTrainingCategories] PRIMARY KEY CLUSTERED 
(
	[Us07_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
