USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[QS02_Categories]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QS02_Categories](
	[QS02_Id] [int] NOT NULL,
	[QS02_QS01_Id] [int] NOT NULL,
	[QS02_Description] [varchar](20) NOT NULL,
 CONSTRAINT [PK_QS02_Categories] PRIMARY KEY CLUSTERED 
(
	[QS02_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[QS02_Categories]  WITH CHECK ADD  CONSTRAINT [FK_QS02_QS01_Id] FOREIGN KEY([QS02_QS01_Id])
REFERENCES [dbo].[QS01_Types] ([QS01_Id])
GO
ALTER TABLE [dbo].[QS02_Categories] CHECK CONSTRAINT [FK_QS02_QS01_Id]
GO
