USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[US02_UserTests]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[US02_UserTests](
	[US02_Id] [int] NOT NULL,
	[US02_US01_Id] [int] NOT NULL,
	[US02_QS03_Id] [int] NOT NULL,
	[US02_Grade] [numeric](10, 2) NOT NULL,
	[US02_DateTaken] [datetime] NOT NULL,
 CONSTRAINT [PK_US02_UserTests] PRIMARY KEY CLUSTERED 
(
	[US02_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[US02_UserTests]  WITH CHECK ADD  CONSTRAINT [FK_US02_QS03_Id] FOREIGN KEY([US02_QS03_Id])
REFERENCES [dbo].[QS03_Tests] ([QS03_Id])
GO
ALTER TABLE [dbo].[US02_UserTests] CHECK CONSTRAINT [FK_US02_QS03_Id]
GO
ALTER TABLE [dbo].[US02_UserTests]  WITH CHECK ADD  CONSTRAINT [FK_US02_US01_Id] FOREIGN KEY([US02_US01_Id])
REFERENCES [dbo].[US01_Users] ([US01_Id])
GO
ALTER TABLE [dbo].[US02_UserTests] CHECK CONSTRAINT [FK_US02_US01_Id]
GO
