USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Tr03_Theory_Visits]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tr03_Theory_Visits](
	[Tr03_Id] [int] NOT NULL,
	[Tr03_Us01_Id] [int] NOT NULL,
	[Tr03_Qs02_id] [int] NOT NULL,
	[Tr03_Start_Time] [datetime] NOT NULL,
	[Tr03_Finish_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Tr03_Theory_Visits] PRIMARY KEY CLUSTERED 
(
	[Tr03_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tr03_Theory_Visits]  WITH CHECK ADD  CONSTRAINT [FK_Tr03_Theory_Visits_QS02_Categories] FOREIGN KEY([Tr03_Qs02_id])
REFERENCES [dbo].[QS02_Categories] ([QS02_Id])
GO
ALTER TABLE [dbo].[Tr03_Theory_Visits] CHECK CONSTRAINT [FK_Tr03_Theory_Visits_QS02_Categories]
GO
ALTER TABLE [dbo].[Tr03_Theory_Visits]  WITH CHECK ADD  CONSTRAINT [FK_Tr03_Theory_Visits_US01_Users] FOREIGN KEY([Tr03_Us01_Id])
REFERENCES [dbo].[US01_Users] ([US01_Id])
GO
ALTER TABLE [dbo].[Tr03_Theory_Visits] CHECK CONSTRAINT [FK_Tr03_Theory_Visits_US01_Users]
GO
