USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[music classroom20120310_0129]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[music classroom20120310_0129](
	[Timestamp] [nvarchar](50) NULL,
	[SoftwareUse] [nvarchar](50) NULL,
	[Instruments] [nvarchar](50) NULL,
	[Education_type] [nvarchar](50) NULL,
	[NotInUse1] [nvarchar](50) NULL,
	[V1_ImageSee] [nvarchar](50) NULL,
	[A1_SoundHear] [nvarchar](50) NULL,
	[V2_NoteRead] [nvarchar](50) NULL,
	[TotalTraining] [nvarchar](50) NULL,
	[agegroup] [nvarchar](50) NULL,
	[TotalMusicYears] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[V3_SongScore] [nvarchar](50) NULL,
	[A2_SongPlay] [nvarchar](50) NULL,
	[NotInUse2] [nvarchar](50) NULL,
	[A3_Dicte] [nvarchar](50) NULL,
	[MusicGenre] [nvarchar](50) NULL,
	[TheoryTraining] [nvarchar](50) NULL
) ON [PRIMARY]
GO
