USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Sp05_Tree2_Users]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sp05_Tree2_Users](
	[Sp05_id] [int] IDENTITY(1,1) NOT NULL,
	[Sp05_Us01_id] [int] NULL,
	[Sp05_Sp04_id] [int] NULL,
	[Sp05_Lvl] [numeric](5, 2) NULL,
	[Sp05_Sp01_id] [int] NULL,
 CONSTRAINT [PK_Sp05_Tree2_Users] PRIMARY KEY CLUSTERED 
(
	[Sp05_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users]  WITH CHECK ADD  CONSTRAINT [FK_Sp05_Tree2_Users_SP01_SpecialAbilities] FOREIGN KEY([Sp05_Sp01_id])
REFERENCES [dbo].[SP01_SpecialAbilities] ([SP01_Id])
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users] CHECK CONSTRAINT [FK_Sp05_Tree2_Users_SP01_SpecialAbilities]
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users]  WITH CHECK ADD  CONSTRAINT [FK_Sp05_Tree2_Users_Sp04_Tree2_L2] FOREIGN KEY([Sp05_Sp04_id])
REFERENCES [dbo].[Sp04_Tree2_L2] ([Sp04_id])
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users] CHECK CONSTRAINT [FK_Sp05_Tree2_Users_Sp04_Tree2_L2]
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users]  WITH CHECK ADD  CONSTRAINT [FK_Sp05_Tree2_Users_US01_Users] FOREIGN KEY([Sp05_Us01_id])
REFERENCES [dbo].[US01_Users] ([US01_Id])
GO
ALTER TABLE [dbo].[Sp05_Tree2_Users] CHECK CONSTRAINT [FK_Sp05_Tree2_Users_US01_Users]
GO
