USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[IN01_Instruments]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN01_Instruments](
	[IN01_Id] [int] NOT NULL,
	[IN01_Name] [nvarchar](50) NOT NULL,
	[IN01_Description] [nvarchar](2048) NOT NULL,
	[IN01_Image] [image] NULL,
 CONSTRAINT [PK_MP01_Instruments] PRIMARY KEY CLUSTERED 
(
	[IN01_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
