USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Set01_Settings]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Set01_Settings](
	[Set01_Setting] [varchar](50) NOT NULL,
	[Set01_Description] [varchar](100) NULL,
	[Set01_Value] [numeric](13, 5) NOT NULL,
	[Set01_id] [int] NOT NULL,
	[Set01_Application] [varchar](100) NULL,
 CONSTRAINT [PK_Set01_Settings] PRIMARY KEY CLUSTERED 
(
	[Set01_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Set01_Settings] ADD  CONSTRAINT [DF_Set01_Settings_Set01_Value]  DEFAULT ((0)) FOR [Set01_Value]
GO
