USE [C:\PROJECTS\MUSICCLASSROOM\MUSICCLASSROOM\MUSICCLASSROOMUX\BIN\DEBUG\MUSICPROJECTNEGKAS.MDF]
GO
/****** Object:  Table [dbo].[Pl04_Poll_User_M_Genres]    Script Date: 10/09/2013 21:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pl04_Poll_User_M_Genres](
	[Pl04_Pl01_timestamp] [datetime] NOT NULL,
	[Pl04_Pl03_id] [int] NOT NULL,
	[Pl04_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pl04_Poll_User_M_Genres_1] PRIMARY KEY CLUSTERED 
(
	[Pl04_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pl04_Poll_User_M_Genres]  WITH CHECK ADD  CONSTRAINT [FK_Pl04_Poll_User_M_Genres_Pl03_Poll_MusicGenres] FOREIGN KEY([Pl04_Pl03_id])
REFERENCES [dbo].[Pl03_Poll_MusicGenres] ([Pl03_id])
GO
ALTER TABLE [dbo].[Pl04_Poll_User_M_Genres] CHECK CONSTRAINT [FK_Pl04_Poll_User_M_Genres_Pl03_Poll_MusicGenres]
GO
